body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.nav-pills {
    margin-bottom: 10px !important;
}

textarea {
    min-height: 150px;
}

.panel-container {
    padding-top: 40px;
}

.no-side-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.bold-td, .bold {
    font-weight: bold;
}

.form-answer-creation {
    padding-left: 40px;
}

.space {
    height: 20px;
}

.location-wizard-header {
    padding: 0 15px;
}

.checkbox input[type=checkbox] {
    margin-left: 0 !important;
}

.bordered-content {
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.validation-summary-errors {
    background-color: #ffbcce;
    border: 1px solid #d61146;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 15px;
}

.validation-summary-errors ul {
    list-style: disc;
    margin-bottom: .1em;
}

.validation-summary-errors li {
    list-style: disc;
    margin-bottom: .2em;
}

/*#region DishLogo*/
#dishLogoContainer {
    display: inline-block;
}

#removeDishLogoIcon {
    font-size: 40px;
    margin-left: 5px;
}

.order-list-item-container-selected {
    background: #EEEEEE;
}

.filter-section {
    margin: 20px 0;
}

.sort-options {
    display: inline-block;
}

.sort-btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-repeat: no-repeat;
    background-position: 70px, 5px;
}

.reset-filters-button {
    height: 33px;
    width: 95px;
}

.default-sort-icon {
    background-image: url(images/sort_both.png);
    background-repeat: no-repeat;
    background-position: 70px;
    height: 33px;
    width: 90px;
}

.arrowUp-sort-icon {
    background-image: url('images/sort_asc.png');
    background-repeat: no-repeat;
    background-position: 70px;
    height: 33px;
    width: 90px;
}

.arrowDown-sort-icon {
    background-image: url('images/sort_desc.png');
    background-repeat: no-repeat;
    background-position: 70px;
    height: 33px;
    width: 90px;
}

.dashboard-menu-item {
    height: 30px;
    width: 35px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.chart {
    width: 100%;
    min-height: 450px;
}

@media (max-width: 1200px) {
    .arrowUp-sort-icon {
        width: 95%;
    }

    .arrowDown-sort-icon {
        width: 95%;
    }

    .default-sort-icon {
        width: 95%;
    }

    .sort-btn {
        background-position-x: 100%;
    }

    .reset-filters-button {
        width: 100%;
        padding: 5px 0 !important;
    }
}